<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
	bootstrap="test/Tolkien/bootstrap.php"
	colors="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false">
	<testsuites>
		<testsuite name="Tolkoen Blog Engine">
			<directory suffix="Test.php">test/Tolkien</directory>
		</testsuite>
	</testsuites>
</phpunit>